h1{
    color: #0000ff;
}

span{
    color: #ffffff;
    background-color: #0000ff;
}

.box{
    background-color: #e3e3e3;
    color: #001e32;
}

#box2{
    background-color: #001e32;
    color: #e3e3e3;
}